android
ios
node_modules
.expo
dist
build
.cache
artifacts
*.log
*.tgz
*.zip
assets/*.mp4
assets/*.mov
assets/*.json
assets/*-large.png
assets/fonts/*.ttf
.git
.gradle
__tests__
coverage
docs
*.test.*
*.spec.*
README.md
LICENSE
*.md
.idea
.vscode
*.map
*.d.ts
tsconfig.tsbuildinfo
.env*
*.apk
.turbo
**/.DS_Store
**/Thumbs.db
**/*.psd
**/*.ai
**/*.sketch
**/debug.keystore
**/build-*
**/*.orig
**/*.bak
**/*.tmp
**/*.temp
**/*.swp
**/*.swo
**/*.swn
**/*.log.*
**/*.local
**/*.development
**/*.production
**/*.staging
**/*.test
**/*.babelrc
**/*.eslintrc*
**/*.prettierrc*
**/*.stylelintrc*
**/*.editorconfig
**/*.git*
**/*.npmrc
**/*.yarnrc
**/*.yarn-integrity
**/*.yarn-metadata.json
**/*.pnpm-debug.log
**/*.env.*
**/*.local
**/coverage/
**/jest-*
**/tsconfig.tsbuildinfo
**/metro.config.*
**/babel.config.*
**/.prettierrc.*
**/.eslintrc.*
**/jest.config.*